{% extends 'base.html.twig' %}

{% form_theme profile_form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2 class="center">Mon profil</h2>
    <div class="boxShadow">
        <div class="center" >
            {% if participant.image is not empty %}
                <img src="{{ asset(picture_dir ~ '/' ~ participant.image) }}" alt="{{ participant.username }}" width="150px"/>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center">
            {{ form_start(profile_form) }}
            {{ form_row(profile_form.username) }}
            {{ form_label(profile_form.firstname) }}
            {{ form_widget(profile_form.firstname) }}
            {{ form_errors(profile_form.lastname) }}
            {{ form_row(profile_form.lastname) }}
            {{ form_row(profile_form.phoneNumber) }}
            {{ form_row(profile_form.email) }}
            {{ form_row(profile_form.plainPassword) }}
            {{ form_row(profile_form.site) }}
            {{ form_row(profile_form.image) }}
            <br>
            <div class="center">
                {{ form_row(profile_form.submit) }}
            </div>

            {{ form_end(profile_form) }}
        </div>


    </div>


{% endblock %}