{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>


        <form method="post">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstname, { 'attr': { 'value': 'Toto' } }) }}
            {{ form_row(registrationForm.lastname, { 'attr': { 'value': 'Zobi' } }) }}
            {{ form_row(registrationForm.username, { 'attr': { 'value': 'totozobi' } }) }}
            {{ form_row(registrationForm.email, { 'attr': { 'value': 'toto@sortir.com' } }) }}
            {{ form_row(registrationForm.plainPassword, { 'attr': { 'value': 'totozobi' } }) }}
            {{ form_row(registrationForm.phoneNumber, { 'attr': { 'value': '0606060606' } }) }}
            {{ form_row(registrationForm.site, { 'attr': { 'value': 'site' } }) }}
            {# TODO: Ajouter la photo de profil plus tard #}

            {{ form_end(registrationForm) }}

        </form>

{% endblock %}
