{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme form 'bootstrap_5_layout.html.twig' %}
        <p>{{ sortie.name }}</p>
        <p>{{ sortie.description }}</p>
        <p>{{ sortie.lieu.street }} {{ sortie.lieu.ville.name }} {{ sortie.lieu.ville.postalCode }}</p>
        {{ form(form) }}

{% endblock %}

