{%  extends "base.html.twig" %}

{% block body %}
    <h1 class="center">Fiche sortie n°{{ sortie.id }}</h1>
    <div class="boxShadow">

    {% if sortie.picture is not empty %}
        <img src="{{ asset(image_dir ~ '/' ~ sortie.picture) }}" alt="{{ sortie.name|capitalize }}" width="400px"/>
    {% endif %}

    <table class="table">
            <tbody>
            <tr>
                <th scope="row" style="min-width: 200px">Nom de la sortie : </th>
                <td>{{ sortie.name }}</td>
            </tr><tr>
                <th scope="row" style="min-width: 200px">Illustration : </th>
                <td>
                    {% if sortie.picture is not empty %}
                        <img src="{{ asset(image_dir ~ '/' ~ sortie.picture) }}" alt="{{ sortie.name|capitalize }}" width="150px"/>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Date et heure de la sortie : </th>
                <td>{{ sortie.dateTimeStart|date ('d/m/y H:i') }}</td>
            </tr>
            <tr>
                <th scope="row">Etat : </th>
                <td>{{  sortie.etat.name }}</td>
            </tr>
            {% if sortie.motif is not empty%}
                <tr>
                    <th scope="row">Motif d'annulation : </th>
                    <td>{{  sortie.motif }}</td>
                </tr>
            {% endif %}
            <tr>
                <th scope="row">Date limite d'inscription : </th>
                <td>{{ sortie.dateInscriptionLimit|date ('d/m/y H:i') }}</td>
            </tr>
            <tr>
                <th scope="row">Nombre de places : </th>
                <td>{{ sortie.maxInscriptionNb }}</td>
            </tr>
            <tr>
                <th scope="row">Durée : </th>
                <td>{{ sortie.duration }} minutes</td>
            </tr>
            <tr>
                <th scope="row">Description et infos : </th>
                <td>{{ sortie.description }}</td>
            </tr>
            <tr>
                <th scope="row">Lieu : </th>
                <td>{{ sortie.lieu.name }}</td>
            </tr>
            <tr>
                <th scope="row">Rue : </th>
                <td>{{ sortie.lieu.street }}</td>
            </tr>
            <tr>
                <th scope="row">Ville : </th>
                <td>{{ sortie.lieu.ville.name }}</td>
            </tr>
            <tr>
                <th scope="row">Code postal : </th>
                <td>{{ sortie.lieu.ville.postalCode }}</td>
            </tr>
            <tr>
                <th scope="row">Latitude : </th>
                <td>{{ sortie.lieu.latitude }}</td>
            </tr>
            <tr>
                <th scope="row">Longitude : </th>
                <td>{{ sortie.lieu.longitude }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="justify-content-center">Participants</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Nom</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in sortie.participants %}
            <tr>
                <td><a href="{{ url('profile_users', {'id':  participant.id }) }}"  class="btn btn-primary">{{ participant.username }}</a></td>
                <td>{{ participant.firstname }} {{ participant.lastname|upper }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div class="center">
            <a href="{{ url('home_home') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>


    </div>

{% endblock %}