{% extends 'base.html.twig' %}


{% block body %}

<h1 class="justify-content-center">Bienvenue sur notre site</h1>
    <div class="d-grid gap-3">
        <div class="p-3" id="fondCard">
            {{ form_start(formFilter) }}
            {{ form_row(formFilter.site) }}
            {{ form_row(formFilter.search) }}
            {{ form_row(formFilter.start_date) }}
            {{ form_row(formFilter.end_date) }}

            {{ form_widget(formFilter.organisateur) }}
            {{ form_label(formFilter.organisateur) }}
            <br>
            {{ form_widget(formFilter.inscrit) }}
            {{ form_label(formFilter.inscrit) }}
            <br>
            {{ form_widget(formFilter.non_inscrit) }}
            {{ form_label(formFilter.non_inscrit) }}
            <br>
            {{ form_widget(formFilter.state) }}
            {{ form_label(formFilter.state) }}

            {{ form_row(formFilter.rechercher) }}
            {{ form_end(formFilter) }}

        </div>

        <div class="d-grid" id="shadowBtn">
            <a href="{{ url('home_create') }}" class="btn btn-primary" id="createPage">Créer une sortie</a>
        </div>

        <div class="d-inline-flex d-grid gap-2 flex-wrap justify-content-center">
        {%  for sortie in sorties %}
            <div class="card margin-x" id="fondCard" style="width: 32%">
                <img src="{{ asset(image_dir ~ '/' ~ sortie.picture) }}" class="card-img-top" alt="{{ sortie.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ sortie.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date de la sortie : {{ sortie.dateTimeStart|date('d/m/Y H:i') }}</li>
                    <li class="list-group-item">Clôture : {{ sortie.dateInscriptionLimit|date('d/m/Y H:i') }}</li>
                    <li class="list-group-item">Places disponibles : {{ sortie.participants|length }}/{{ sortie.maxInscriptionNb }}</li>
                    <li class="list-group-item">État : {{ sortie.etat.name |default('pas d\'etat') }}</li>
                    <li class="list-group-item">Inscrit : {% if app.user in sortie.participants %}X{% endif %}</li>
                    <li class="list-group-item">Organisateur : {{ sortie.organisateur.username }}</li>
                </ul>
                <div class="card-body d-grid gap-2 align-items-center">
                    <a href="{{ url('home_detail', {'id': sortie.id}) }}" class="btn btn-primary btn-sm" type="button">Afficher</a>
                    {% if app.user.id == sortie.organisateur.id or is_granted('ROLE_ADMIN') %}
                        {% if sortie.etat.name == 'Ouverte' or sortie.etat.name == 'Clôturée' %}
                            <a href="{{ path('home_delete', {'id': sortie.id}) }}" class="btn btn-danger btn-sm" type="button">Annuler</a>
                        {% else %}
                            {% if  sortie.etat.name == 'Créée' %}
                                <a href="{{ path('home_update', {'id' : sortie.id}) }}" class="btn btn-secondary btn-sm" type="button">Modifier</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if app.user not in sortie.participants %}
                        {% if sortie.etat.name == 'Ouverte' %}
                            <a href="{{ url('home_register',{'id':sortie.id}) }}" class="btn btn-primary btn-sm" type="button"> s'inscrire</a>
                        {% endif %}
                    {% else %}
                        {% if sortie.etat.name == 'Ouverte' or sortie.etat.name == 'Clôturée' %}
                            <a href="{{ url('home_unsub',{'id':sortie.id} ) }}" class="btn btn-danger btn-sm" type="button">se désinscrire</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}



            {# PAGINATION #}
        </div>
        <nav aria-label="...">
            <ul class=" justify-content-center pagination ahhh">
                <li class="page-item ">
                    <a class="page-link{%if page==1 or page is empty%} disabled {% endif%}" href="{{ url('home_home',{'p':page-1}) }}" tabindex="-1">Previous</a>
                </li>
                {% for i in 1..nbPages %}
                    <li class="page-item"><a class="page-link {% if i == page or i==1 and page is empty%} active {% endif%}" href="{{ url('home_home',{'p':i}) }}">{{ i }}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link {%if page==nbPages %}disabled {% endif%}" href="{% if page is empty %}{{ url('home_home',{'p':2 })}}{% else %}{{ url('home_home',{'p':page+1}) }}{% endif %}">Next</a>
                </li>
            </ul>
        </nav>


        <a href="{{ url('home_create') }}" class="btn btn-primary">Créer une sortie</a>
    </div>
{% endblock %}
