{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="justify-content-center">Accueil</h1>
    <form action="{{ path('home_home') }}" method="post">
        <div class="form-group">
            <label for="filtre-site">Site de rattachement</label>
            <select class="form-control" id="filtre-site" name="filtre-site">
                {% for site in sites %}
                    <option value="{{ site.id }}">{{ site.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="filtre-nom">Le nom de la sortie contient :</label>
            <input name="filtre-nom" id="filtre-nom" type="search">
        </div>
        <div class="form-group">
            <label for="filtre-date">Entre :</label>
            <input name="filtre-date" id="filtre-date" type="date">
            <label for="filtre-date2">et :</label>
            <input name="filtre-date2" id="filtre-date2" type="date">
        </div>
        <button type="submit" class="btn btn-primary" name="filtre">Rechercher</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">État</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {%  for sortie in sorties %}
            <tr>
                <th scope="row">{{ sortie.name }}</th>
                <td>{{ sortie.dateTimeStart|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateInscriptionLimit|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.participants|length }}/{{ sortie.maxInscriptionNb }}</td>
                <td>{{ sortie.etat.name |default('pas d\'etat') }}</td>
                <td>
                    {% if app.user in sortie.participants %}
                        X
                    {% endif %}
                </td>
                <td><a href="{{ url('profile_users', {'id': sortie.organisateur.id}) }}"  class="btn btn-primary">{{ sortie.organisateur.username }}</a></td>
                <td>
                    <a href="{{ url('home_detail', {'id': sortie.id}) }}" class="btn btn-primary">Afficher</a>
                    {% if app.user.id == sortie.organisateur.id %}
                    <a href="{{ path('home_delete', {'id': sortie.id}) }}" class="btn btn-danger">Annuler</a>
                    {% endif %}
                    {% if app.user not in sortie.participants %}
                        <a href="{{ url('home_register',{'id':sortie.id}) }}" class="btn btn-primary"> s'inscrire</a>
                    {% else %}
                          <a href="{{ url('home_unsub',{'id':sortie.id} ) }}" class="btn btn-danger">se désinscrire</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
