{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="justify-content-center">Accueil</h1>
           {{ form_start(formFilter) }}
            {{ form_row(formFilter.site) }}
            {{ form_row(formFilter.search) }}
            {{ form_row(formFilter.start_date) }}
            {{ form_row(formFilter.end_date) }}

            {{ form_widget(formFilter.organisateur) }}
            {{ form_label(formFilter.organisateur) }}
            <br>
            {{ form_widget(formFilter.inscrit) }}
            {{ form_label(formFilter.inscrit) }}
            <br>
            {{ form_widget(formFilter.non_inscrit) }}
            {{ form_label(formFilter.non_inscrit) }}
            <br>
            {{ form_widget(formFilter.state) }}
            {{ form_label(formFilter.state) }}

            {{ form_row(formFilter.rechercher) }}
        {{ form_end(formFilter) }}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">État</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {%  for sortie in sorties %}
            <tr>
                <th scope="row">{{ sortie.name }}</th>
                <td>{{ sortie.dateTimeStart|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateInscriptionLimit|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.participants|length }}/{{ sortie.maxInscriptionNb }}</td>
                <td>{{ sortie.etat.name |default('pas d\'etat') }}</td>
                <td>
                    {% if app.user in sortie.participants %}
                        X
                    {% endif %}
                </td>
                <td><a href="{{ url('profile_users', {'id': sortie.organisateur.id}) }}"  class="btn btn-primary">{{ sortie.organisateur.username }}</a></td>
                <td>
                    <a href="{{ url('home_detail', {'id': sortie.id}) }}" class="btn btn-primary">Afficher</a>
                    {% if app.user.id == sortie.organisateur.id or is_granted('ROLE_ADMIN') %}
                        {% if sortie.etat.name == 'Ouverte' or sortie.etat.name == 'Clôturée' %}
                    <a href="{{ path('home_delete', {'id': sortie.id}) }}" class="btn btn-danger">Annuler</a>
                            {% else %}
                                {% if  sortie.etat.name == 'Créée' %}
                            <a href="{{ path('home_update', {'id' : sortie.id}) }}" class="btn btn-secondary">Modifier</a>
                                    {% endif %}
                            {% endif %}
                    {% endif %}
                    {% if app.user not in sortie.participants %}
                        {% if sortie.etat.name == 'Ouverte' %}
                        <a href="{{ url('home_register',{'id':sortie.id}) }}" class="btn btn-primary"> s'inscrire</a>
                            {% endif %}
                    {% else %}
                        {% if sortie.etat.name == 'Ouverte' or sortie.etat.name == 'Clôturée' %}
                          <a href="{{ url('home_unsub',{'id':sortie.id} ) }}" class="btn btn-danger">se désinscrire</a>
                            {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <a href="{{ url('home_create') }}" class="btn btn-primary">Créer une sortie</a>

{% endblock %}
