{% extends 'base.html.twig' %}

{% form_theme formGroup 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="boxShadow">
        <h2 class="center">Créer un groupe</h2>
        <div class="d-flex justify-content-center">
            {{ form_start(formGroup) }}
                {{ form_row(formGroup.nom) }}
                {{ form_row(formGroup.participants) }}
                <div class="center">
                    {{ form_row(formGroup.submit) }}
                    <br>
                    <a href="{{ path('group_list') }}" class="btn btn-secondary">Retour aux groupes</a>
                </div>
            {{ form_end(formGroup) }}
        </div>

    </div>
{% endblock %}