{% extends 'base.html.twig' %}

{% block body %}

    <div class="card p-3 center" id="fondCard">
        <h1>Oops !</h1>
        <p>Erreur 404.</p>
        <p>Cette page est introuvable.</p>
        <a href="{{ path('home_home') }}" class="btn btn-primary btn-sm">Retour à l'accueil</a>
    </div>


    {# <div class="card p-3 center" id="fondCard">
        <h1>Erreur {{status_code}} !</h1>
        <p>{{status_text}}</p>
        <p>{{exception.message}}</p>
        <a href="{{ path('home_home') }}" class="btn btn-primary btn-sm">Retour à l'accueil</a>
    </div>

    {% for exception in exceptions %}
        {% if exception.statusCode === '404' %}
            {{  }}
        {% elseif %}
            {{  }}
        {% endif %}
    {% endfor %}



        <div class="card p-3 center" id="fondCard">
        <h1>Oops !</h1>

        {% set value = 'default' %}
        {% switch {{status_code}} %}
        {% case '404' %}
            <p>Erreur 404.</p>
            <p>Cette page est introuvable.</p>
        {% case '502' %}
            <p>Erreur 502.</p>
            <p>Bad Gateway, le serveur a rencontré une erreur.</p>
        {% default %}
            <p>Une erreur s'est produite.</p>
        {% endswitch %}

        <a href="{{ path('home_home') }}" class="btn btn-primary btn-sm">Retour à l'accueil</a>
    </div> #}

{% endblock %}